header {
  position: fixed;
  z-index: 10; }

.navbar {
  display: flex;
  align-items: center;
  padding-top: .5rem;
  padding-bottom: .5rem; }

body {
  padding-top: 86px; }

header {
  font-family: 'Rubik', sans-serif; }

body {
  font-family: 'Rubik', sans-serif; }

.footer {
  font-family: 'Rubik', sans-serif; }
  .footer .footer__information--email {
    font-weight: bold; }

.dropdown-menu {
  text-align: right;
  border: none; }

.nav-item {
  text-align: right; }

.logo {
  width: 60px;
  height: 60px; }

#backgroundBody {
  background-image: url("../img/tea.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 60%; }

.presentation {
  width: 50%;
  margin-left: 40px;
  margin-right: 10px;
  margin-top: 30px; }
  .presentation .presentation__title {
    margin-top: 1.5rem; }
  .presentation .introduction__summary {
    margin-top: 0.5rem; }
    .presentation .introduction__summary .introduction__paragraph--first {
      margin-top: 1.5rem; }
    .presentation .introduction__summary .introduction__paragraph--second {
      margin-top: 0.5rem; }
    .presentation .introduction__summary .introduction__paragraph--third {
      margin-top: 0.5rem;
      margin-bottom: 1.5rem; }

.form {
  width: 95%;
  margin-left: 20px;
  margin-top: 30px; }
  .form .form__frame {
    width: 100%;
    max-width: 600px;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    margin-bottom: 20px; }

#formGender select {
  width: 100%;
  height: 30px; }

#formTextArea textarea {
  width: 100%;
  padding: 7px;
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
  box-sizing: border-box; }

#submitButton {
  height: 40px; }

#resetButton {
  height: 40px; }

input {
  width: 100%;
  height: 30px;
  padding: 7px;
  box-sizing: border-box;
  border: none; }

.footer__image {
  height: 32px;
  width: 32px;
  margin-right: 6px; }

/*Todo para el form de contact.html*/
.form__frame {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr, 70px);
  column-gap: 10px;
  row-gap: 10px; }

#formName {
  grid-column: 1/3;
  grid-row: 1; }

#formSurname {
  grid-row: 2;
  grid-column: 1/3; }

#formGender {
  grid-row: 3; }

#formAge {
  grid-row: 3; }

#formTextArea {
  grid-row: 4;
  grid-column: 1/3; }

#submitButton {
  grid-row: 5;
  grid-column: 1/3; }

#resetButton {
  grid-row: 6;
  grid-column: 1/3; }

.footer__images {
  display: flex; }

@media only screen and (min-width: 993px) {
  .footer__information {
    flex-direction: row; }
  .footer__images {
    flex-direction: row-reverse; } }

@media only screen and (max-width: 992px) {
  .footer__information {
    flex-direction: row; }
  .footer__images {
    flex-direction: row-reverse; }
  .card-body {
    text-align: center; }
  .cardImageContainer {
    display: flex;
    justify-content: center;
    margin-top: 12px; } }

@media only screen and (max-width: 768px) {
  .footer__information .footer__information--email {
    flex-direction: row;
    text-align: center; }
  .footer__images {
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 12px; }
  #backgroundBody {
    background-image: none; }
  .form__frame {
    max-width: 100%;
    margin-left: 0; } }

.form__frame {
  background: rgba(0, 0, 0, 0.3); }

.h1 {
  color: #009688; }

.h2,
.h3 {
  color: #59B075; }

.dropdown-menu {
  background-color: #59B075; }

.dropdown-menu li a {
  color: #FFFFFF; }

.footer {
  background-color: #00796B; }

.footer__information--email {
  color: #FFFFFF; }

.navbar {
  background-image: linear-gradient(to right, #344B44, #00796B, #59B075); }

#submitButton {
  background: #009688;
  color: #FFFFFF; }

#resetButton {
  background: #009688;
  color: #FFFFFF; }
