header {
  position: fixed;
  z-index: 10; }

.navbar {
  display: flex;
  align-items: center;
  padding-top: .5rem;
  padding-bottom: .5rem; }

body {
  padding-top: 86px; }

.sidenav {
  height: auto;
  width: 50px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(202, 47, 81, 0.671);
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 100px;
  margin-left: 10px; }

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2e2c2c;
  display: block; }

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1; }

header {
  font-family: 'Rubik', sans-serif; }

body {
  font-family: 'Rubik', sans-serif; }

.footer {
  font-family: 'Rubik', sans-serif; }
  .footer .footer__information--email {
    font-weight: bold; }

.h1 {
  font-weight: bold; }

.dropdown-menu {
  text-align: right;
  border: none; }

.nav-item {
  text-align: right; }

.navbar-brand {
  margin-left: 0px; }
  .navbar-brand .logo {
    margin-left: auto;
    margin-right: auto; }

.logo {
  width: 60px;
  height: 60px; }

#backgroundBody {
  background-image: url(../img/tea.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 60%;
  background-attachment: fixed; }

.container {
  margin-left: auto;
  margin-right: auto; }

.presentation {
  margin: 70px 70px 80px 80px;
  width: 50%; }
  .presentation .presentation__title {
    margin-top: 1.5rem; }
  .presentation .introduction__summary {
    margin-top: 0.5rem; }
    .presentation .introduction__summary .introduction__paragraph--first {
      margin-top: 1.5rem; }
    .presentation .introduction__summary .introduction__paragraph--second {
      margin-top: 0.5rem; }
    .presentation .introduction__summary .introduction__paragraph--third {
      margin-top: 0.5rem;
      margin-bottom: 1.5rem; }

.form {
  width: auto;
  margin-left: 70px;
  margin-right: 20px;
  margin-top: 30px; }
  .form .form__frame {
    width: 100%;
    max-width: 600px;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 0;
    border-radius: 7px;
    margin-bottom: 20px; }
  .form h1 {
    margin-left: 0; }
  .form p {
    margin-left: 0; }

#formGender select {
  width: 100%;
  height: 30px; }

#formTextArea textarea {
  width: 100%;
  padding: 7px;
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
  box-sizing: border-box;
  border-radius: .25rem; }

#submitButton {
  height: 40px; }

#resetButton {
  height: 40px; }

input {
  width: 100%;
  height: 30px;
  padding: 7px;
  box-sizing: border-box;
  border: none;
  border-radius: .25rem; }

select {
  border-radius: .25rem; }

.footer__image {
  height: 32px;
  width: 32px;
  margin-right: 6px; }

.presentation__dictionary {
  margin: 70px 70px 80px 80px;
  width: auto; }

.dictionary__text {
  width: 50%; }

/*mapa*/
.containerFormIframe .iframe__box {
  background: rgba(0, 0, 0, 0.027);
  border-radius: 10px; }
  .containerFormIframe .iframe__box iframe {
    border-radius: 10px; }

/*Todo para el form de contact.html*/
.form__frame {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr, 70px);
  column-gap: 10px;
  row-gap: 10px; }

#formName {
  grid-column: 1/3;
  grid-row: 1; }

#formSurname {
  grid-row: 2;
  grid-column: 1/3; }

#formGender {
  grid-row: 3; }

#formAge {
  grid-row: 3; }

#formTextArea {
  grid-row: 4;
  grid-column: 1/3; }

#submitButton {
  grid-row: 5;
  grid-column: 1/3; }

#resetButton {
  grid-row: 6;
  grid-column: 1/3; }

.footer__images {
  display: flex; }

@media only screen and (min-width: 993px) {
  .footer__information {
    flex-direction: row; }
  .footer__images {
    flex-direction: row-reverse; }
  .containerFormIframe {
    display: flex; }
    .containerFormIframe .form .form__frame {
      flex: 1;
      flex-direction: column; }
    .containerFormIframe .iframe__box {
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      max-width: 600px;
      height: 100%;
      margin: 20px 20px 20px 100px; }
      .containerFormIframe .iframe__box iframe {
        width: 100%;
        height: 500px;
        padding: 50px; } }

@media only screen and (max-width: 992px) {
  .footer__information {
    flex-direction: row; }
  .footer__images {
    flex-direction: row-reverse; }
  .card-body {
    text-align: center; }
  .cardImageContainer {
    display: flex;
    justify-content: center;
    margin-top: 12px; }
  .containerFormIframe {
    display: inline-block; }
    .containerFormIframe .iframe__box {
      width: 100%;
      height: 300px;
      margin-top: 40px;
      margin-bottom: 40px;
      padding: 10px; }
      .containerFormIframe .iframe__box iframe {
        height: 100%;
        width: inherit; } }

@media only screen and (max-width: 790px) {
  .footer__information .footer__information--email {
    flex-direction: row;
    text-align: center; }
  .footer__images {
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 12px; }
  #backgroundBody {
    background-image: none; }
  .form .form__box {
    max-width: 85%;
    margin-left: 0; }
  .dictionary__text {
    width: 100%; } }

@media only screen and (max-width: 500px) {
  .form {
    width: auto;
    margin: 20px auto 20px auto;
    /*Grid*/ }
    .form .form__frame {
      max-width: 300px;
      padding: 15px 15px; }
    .form .form__box {
      max-width: 300px;
      margin-left: 0; }
    .form input {
      width: 270px; }
    .form #inputDate .form-select {
      width: 105px; }
    .form #formTextArea textarea {
      max-width: 270px; }
    .form #formGender {
      grid-row: 3;
      grid-column: 1/3; }
    .form #formAge {
      grid-row: 4;
      grid-column: 1/3; }
    .form #formTextArea {
      grid-row: 5;
      grid-column: 1/3; }
    .form #submitButton {
      grid-row: 6;
      grid-column: 1/3; }
    .form #resetButton {
      grid-row: 7;
      grid-column: 1/3; }
  /*Margenes para textos*/
  .presentation {
    margin: 40px 70px 40px 40px;
    width: 70%; }
  .presentation__dictionary {
    margin: 40px 70px 40px 70px;
    width: 70%; } }

.form__frame {
  background: rgba(0, 0, 0, 0.3); }

.h1 {
  color: #009688; }

.h2,
.h3 {
  color: #59B075; }

.navbar-dark .navbar-nav .nav-link {
  color: #FFFFFF; }

.active {
  font-weight: bold; }

.dropdown-menu {
  background-color: #59B075; }

.dropdown-menu li a {
  color: #FFFFFF; }

.footer {
  background-color: #00796B; }

.footer__information--email {
  color: #FFFFFF; }

.navbar {
  background-image: linear-gradient(to right, #344B44, #00796B, #59B075); }

#submitButton {
  background: #009688;
  color: #FFFFFF; }

#resetButton {
  background: #009688;
  color: #FFFFFF; }
