.footer__images {
    display: flex;
}

@media only screen and (min-width: 993px) {
    .footer__information {
        flex-direction: row;
    }

    .footer__images {
        flex-direction: row-reverse;

    }

    .containerFormIframe {
        display: flex;


        .form .form__frame {
            flex: 1;
            flex-direction: column;
        }

        .iframe__box {
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            max-width: 600px;
            height: 100%;
            margin: 20px 20px 20px 100px;

            iframe {
                width: 100%;
                height: 500px;
                padding: 50px;
            }
        }

    }

    .card__index {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .card__index--ms {
        margin-left: 30px;
    }

}

@media only screen and (max-width: 992px) {
    .footer__information {
        flex-direction: row;
    }

    .footer__images {
        flex-direction: row-reverse;
    }

    .card-body {
        text-align: center;
    }

    .cardImageContainer {
        display: flex;
        justify-content: center;
        margin-top: 12px;
    }

    .containerFormIframe {
        display: inline-block;

        .iframe__box {
            width: 100%;
            height: 300px;
            margin-top: 40px;
            margin-bottom: 40px;
            padding: 10px;

            iframe {
                height: 100%;
                width: inherit;
            }
        }

    }

    .card__index {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 790px) {
    .footer__information .footer__information--email {
        flex-direction: row;
        text-align: center;
    }

    .footer__images {
        flex-direction: row-reverse;
        justify-content: center;
        margin-bottom: 12px;
    }

    #backgroundBody {
        background-image: none;
    }

    .form {
        .form__box {
            max-width: 85%;
            margin-left: 0;
        }
    }

    .dictionary__text {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .form {
        width: auto;
        margin: 20px auto 20px auto;

        .form__frame {
            max-width: 300px;
            padding: 15px 15px;
        }

        .form__box {
            max-width: 300px;
            margin-left: 0;
        }

        input {
            width: 270px;
        }

        #inputDate .form-select {
            width: 105px;
        }

        #formTextArea textarea {
            max-width: 270px;
        }

        /*Grid*/
        #formGender {
            grid-row: 3;
            grid-column: 1/3;
        }

        #formAge {
            grid-row: 4;
            grid-column: 1/3;
        }

        #formTextArea {
            grid-row: 5;
            grid-column: 1/3;
        }


        #submitButton {
            grid-row: 6;
            grid-column: 1/3;
        }

        #resetButton {
            grid-row: 7;
            grid-column: 1/3;
        }
    }

    /*Margenes para textos*/

    .presentation {
        margin: 40px 70px 40px 40px;
        width: 70%
    }

    .presentation__dictionary {
        margin: 40px 70px 40px 70px;
        width: 70%
    }

}