.dropdown-menu {
    text-align: right;
    border: none;
}

.nav-item {
    text-align: right;
}

.navbar-brand {
    margin-left: 0px;

    .logo {
        margin-left: auto;
        margin-right: auto;
    }
}

.logo {
    width: 60px;
    height: 60px;
}


#backgroundBody {
    background-image: url(../img/tea.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 60%;
    background-attachment: fixed;
}

.container {
    margin-left: auto;
    margin-right: auto;

}

.presentation {
    margin: $margin * 7 $margin * 7 $margin * 8 $margin * 8;

    width: 50%;

    .presentation__title {
        margin-top: $spacing * 1.5;
    }

    .introduction__summary {
        margin-top: $spacing * 0.5;

        .introduction__paragraph--first {
            margin-top: $spacing * 1.5;
        }

        .introduction__paragraph--second {
            margin-top: $spacing * 0.5;
        }

        .introduction__paragraph--third {
            margin-top: $spacing * 0.5;
            margin-bottom: $spacing * 1.5;
        }
    }
}

.form {
    width: auto;
    margin-left: $margin * 7;
    margin-right: $margin * 2;
    margin-top: $margin * 3;

    .form__frame {
        width: 100%;
        max-width: 600px;
        padding: 10px 20px;
        box-sizing: border-box;
        margin-top: $margin * 2;
        margin-left: 0;
        border-radius: 7px;
        margin-bottom: 20px;
    }

    h1 {
        margin-left: 0;
    }

    p {
        margin-left: 0;
    }
}

#formGender select {
    width: 100%;
    height: 30px;
}

#formTextArea textarea {
    width: 100%;
    padding: 7px;
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: .25rem;
}

#submitButton {
    height: 40px;
}

#resetButton {
    height: 40px;
}

input {
    width: 100%;
    height: 30px;
    padding: 7px;
    box-sizing: border-box;
    border: none;
    border-radius: .25rem;
}

select {
    border-radius: .25rem;
}

.footer__image {
    height: 32px;
    width: 32px;
    margin-right: $margin * .6;
}

.presentation__dictionary {
    margin: $margin * 7 $margin * 7 $margin * 8 $margin * 8;
    width: auto;
}

.dictionary__text {
    width: 50%;
}

/*mapa*/

.containerFormIframe {
    .iframe__box {
        background: rgba(0, 0, 0, 0.027);
        border-radius: 10px;

        iframe {
            border-radius: 10px;
        }
    }
}