header {
    position: fixed;
    z-index: 10;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

body {
    padding-top: 86px;
}

.sidenav {
    height: auto;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fffc629f;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 100px;
    margin-left: 10px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(46, 44, 44);
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}